<div data-control="search" class="search">
  
  <header>
    <div class="search-logo">Intersact</div>
    <div class="tag-line">Cross-reference actors in two movies.</div>
  </header>
  
  <section class="section-container">
  
    <div data-control="live-input-field" data-name="movie1" class="autocomplete">
      <input type="text" data-name="input-box" class="search-field" placeholder="Enter a movie..." autocomplete="off" required />
      <div data-name="clear-btn"></div>
      <ul data-name="result-list" style="display: none;" class="auto-input"></ul>
    </div>
    
    <div class="plus-icon"></div>
    
    <div data-control="live-input-field" data-name="movie2" class="autocomplete">
      <input type="text" data-name="input-box" class="search-field" placeholder="Enter a second movie..." autocomplete="off" required />
      <div data-name="clear-btn"></div>
      <ul data-name="result-list" style="display: none;" class="auto-input"></ul>
    </div>
    
    <input type="button" data-name="search-btn" class="submit-button" value="Find Actors" />
  
  </section>
  
</div>